<HTML>
  <HEAD>
    <TITLE>Men&uacute de la API</TITLE>
    <Link rel="stylesheet" href="{{ url_for('static', filename='miEstilo.css') }}" type="text/css" charset="utf-8" />
  </HEAD>
  <BODY>
    <H1><b>Bienvenidos a nuestra API.</b></H1><BR/><BR/>
    <div id="menu" align ="center">
      <DL>
        <DD><a href="/search" title="buscar">Buscar tweets y mostrar resultados</a></DD>
        <DD><a href="/save" title="guardar">Buscar tweets y guardar resultados en Dropbox</a></DD>
        <DD><a href="/ttspain" title="ttspain">Mostrar los 'Trending topics' en Espa&ntilde;a ahora mismo</a></DD>
      </DL>
    </div>
  </BODY>
</HTML>
